<a href="https://colab.research.google.com/github/kimsky22/NLP_2023/blob/main/6_DefiningFunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Function 함수**

### **Return** statement in a function

- Functions with a <font color = 'red'>return</font> statement produce <font color = 'red'> a value as its result</font>, and the function execution stops at that point.
- Functions without a return statement still execute but implicitly return None.
- Whether to use a return statement depends on whether you want the function to produce a value <font color = 'red'>**that can be used elsewhere**</font> in your code. If you don't need to return a result, not having a return statement is perfectly fine.

In [ ]:
#1. string argument 문자열 인자
#a.
def add_txt(t1,t2):    #string을 이용했을 때, 리턴값이 없는 함수 예시
  print (t1 + t2)

#b
def add_txt(t1, t2):    #string을 이용했을 때, 리턴값이 있는 함수 예시
    result = t1 + t2
    return result

In [ ]:
def add_txt(t1,t2):
  print (t1+t2)

def add_txt(t1, t2):
  result=t1+t2
  return result

In [ ]:
#1.b

def add_txt(t1, t2):
    result = t1 + t2
    return result

# Define two strings as arguments
text1 = "Hello, "
text2 = "World!"

# Calling the add_txt function with the defined arguments
combined_text = add_txt(text1, text2)

# Printing the result
print(combined_text)

Hello, World!

In [ ]:
def add_txt(t1, t2):
  result=t1+t2
  return result

text1="hello,"
text2="world!"

combined_text=add_txt(text1, text2)

print(combined_text)

hello,world!

In [ ]:
#2 number argument 숫자 인자
#a
def add_number(n1,n2):
  print(n1 + n2)  #numbers를 이용했을 때, 리턴값이 없는 함수 예시

#b
def add_number(n1,n2):
  result = n1 + n2     #numbers를 이용했을 때, 리턴값이 있는 함수 예시
  return result

In [ ]:
def add_number(n1, n2):
  print(n1+n2)

def add_number(n1, n2):
  result=n1+n2
  return result

## 🐹🐾 **Place holders<font color = 'gray'>(자리 표시자)**
  - %d and %s are placeholders used for string formatting.
  - They are used in strings to represent where you want to insert specific values, such as numbers or strings. Here's what they mean:

    - <font color = 'red'> %d: This is a placeholder for formatting **integers (decimal integers)**. When you use %d in a string, it's _replaced with an integer value_.</font>

    - <font color = 'green'> %s: This is a placeholder for formatting **strings**. When you use %s in a string, it's _replaced with a string value_.

In [ ]:
#Example of place holders such as %d and %s

name = "Alice"
score = 95
age = 18


# Using %s and %d for string formatting
test_result = "You scored %d on the test." % score
print(test_result)

greeting = "Hello, %s! You turn to finally %d years old finally." % (name, age)
print(greeting)



#Alternatively
print("You scored %d on the test." %score)
print("Hello, %s! You turn to finally %d years old finally." %(name, age))

You scored 95 on the test.
Hello, Alice! You turn to finally 18 years old finally.
You scored 95 on the test.
Hello, Alice! You turn to finally 18 years old finally.

In [ ]:
name="alice"
socre=95
age=18

test_reult="you scored %d on the test." % socre
print(test_reuslt)

greeting="hello, %s! you turn to finally %d years old finally."%(name, age)
print(greeting)

pring("you scored %d on the test." %socre)
print("hello, %s! you trun to finally %d years old finally. " %(name, age))

NameError: ignored

In [ ]:
#2b

def add(a, b):
    result = a + b
    return result

num1 = 5
num2 = 3

sum_result = add(num1, num2)

# Using the % operator for string formatting

print("The sum of %d and %d is %d" % (num1, num2, sum_result))

The sum of 5 and 3 is 8

In [ ]:
def add(a,b):
  result=a+b
  return result

num1=5
num2=3

sum_result=add(num1, num2)

print("the sum of %d and %d is %d"  %  (num1, num2, sum_result))

the sum of 5 and 3 is 8

In [ ]:
#2b'

def add_and_print(a, b):
    result = a + b
    print("The sum of %d and %d is %d" % (a, b, result))
    return result

# Call the function
sum_result = add_and_print(3, 4)

The sum of 3 and 4 is 7

In [ ]:
def add_and_print(a,b):
  result=a+b
  print("the sum of %d and %d is %d" % (a,b,result))
  return result

sum_result=add_and_print(3,4)

the sum of 3 and 4 is 7

##### ⚡ 키워드 인자: 함수 호출 때 괄호 안에 등호를 사용하여 표시할 때 이를 키워드 인자라고 한다. 예시 add_txt1(t1='My friend', t2='Python')
##### ⚡ 기본 인자 (e.g., t2='Python'): 함수 호출 때 t2 위치에 실제 값을 전달하지 않아도 'Python'이 기본값으로 대입됨

In [ ]:
# 위의 함수 정의 및 호출 이해 완료
def add_txt1(t1,t2='Python'): #add_txt1은 t1과 t2를 ':'로 연결한 뒤 출력하는 함수다.
  print(t1 + ':' + t2) # 연결 기호 + 실수 했음

add_txt1('Best') #add_txt1 함수를 호출하고 있음. 기본값 t2='Python'을 사용하며 호출
add_txt1(t1='My friend', t2='Python') #add_txt1 함수를 호출하고 있음. 인자 이름을 명시하며 (=키워드 인자를 사용하며) 호출
add_txt1(t1='My buddy')

Best:Python
My friend:Python
My buddy:Python

In [ ]:
def add_txt1(t1,t2='python'):
  print(t1+':'+t2)

add_txt1('best')
add_txt1(t1='my friend', t2='python')
add_txt1(t1='my buddy')

best:python
my friend:python
my buddy:python

#### ⚡ **<font color = 'red'> 가변 인자 (*args) </font>**는 인자의 개수가 명확치 않을 때 사용한다.
- #### Variable-length arguments (i.e., varargs) allow you to pass different numbers of arguments to a function, and the function can work with them flexibly.
- #### The *args parameter collects all the positional arguments passed to the function and makes them accessible as a _tuple_ within the function.

In [ ]:
def func_uncertain(*args):
  print(args)

func_uncertain() #*args에 아무값도 전달 안하고 함수를 호출하면 빈 튜플로 결과가 출력된다.

# Calling the function with different numbers of positional arguments
func_uncertain(1, 2, 3)
func_uncertain('apple', 'banana', 'cherry', 'date')
func_uncertain(True)

()
(1, 2, 3)
('apple', 'banana', 'cherry', 'date')
(True,)

In [ ]:
def func_uncertain(*args):
  print(args)

func_uncertain()

func_uncertain(1,2,3)
func_uncertain('apple', 'banana', 'cherry', 'date')
func_uncertain(True)

()
(1, 2, 3)
('apple', 'banana', 'cherry', 'date')
(True,)

#### ⚡ <font color = 'blue'> 키워드 가변 인자 (**kwargs)</font>는 차후 어떤 키워드 인자가 필요한지 미확정 되었을 때 사용한다.
- #### A <font color = 'blue'> **keyword argument**</font>, also known as a named argument, is a way to pass arguments to a function in a way that specifies **the parameter name along with the value**. In Python, you can use keyword arguments to make function calls more explicit and self-documenting by **explicitly naming the parameters you are providing values for**.

In [ ]:
def func_kwa(width, height, **kwargs):  #함수 정의 때 TWO asterisks 인 것을 주의하자. 또한 인자는 string 이 아니기 때문에 ''를 동반 사용 X
  print(kwargs)

func_kwa(10, 20) #*kwargs에 아무값도 전달 안하면서 함수를 호출하면 empty dictionary(빈 사전)로 결과가 출력된다.
func_kwa(10, 20, depth=30, color='blue') #kwargs(키워드인자) 두 개 추가.

{}
{'depth': 30, 'color': 'blue'}

In [ ]:
def func_kwa(width, height, **kwargs):
  print(kwargs)

func_kwa(10, 20)
func_kwa(10, 20, depth=30, color='blue')

{}
{'depth': 30, 'color': 'blue'}

#####  🌀 리스트의 요소 중 하나가 function 함수인 경우

In [ ]:
def myfunction():
  print ('Hello World!')

list = [1, 2, myfunction]

#아래 각 코드라인에서, 리스트에서 2 번째 요소가 myfunction 함수라서, myfunction 함수에 인자 자리 ( )를 넣는 것과 list[2]( )는 같은 code line으로 볼 수 있다.
list[2]()
myfunction()

Hello World!
Hello World!

In [ ]:
def myfunction():
  print('hello world!')

list=[1,2,myfunction]

list[2]()
myfunction()

hello world!
hello world!

## 🔥🐹🐶🐤🐭 <font color = 'organge'>**Find a basic Python textbook, read and exercise the content about functions thoroughly!**

In [1]:
marks=[90, 25, 67, 45, 80]
for number in range(len(marks)):
  if marks[number] < 60:
    continue
  print("%d번 학생 축하합니다. 합격입니다. "% (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [2]:
for i in range(2, 10):
  for j in (1, 10):
    print(i*j, end=" ")
  print('')

2 20
3 30
4 40
5 50
6 60
7 70
8 80
9 90

In [3]:
a=[1,2,3,4]
result=[]
for num in a:
  result.append(num*3)

print(result)

[3, 6, 9, 12]

In [4]:
a=[1,2,3,4]
result=[num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [6]:
a=[1,2,3,4]
result=[num*3 for num in a if num%2==0]
print(result)

[6, 12]